.ssoLoginWidget button{
	display:block;
}
.ssoLoginWidget{
    width:800px;
}
.ssoLoginWidget .hide{
	display:none;
}
.ssoLoginWidget .show{
	display:block;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.ssoLoginWidget a {
  background-color: transparent;
}
.ssoLoginWidget a:active,
.ssoLoginWidget a:hover {
  outline: 0;
}

button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
 font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #7d8081;
  background:#fff url(../img/texture.jpg) repeat;
}
.clearfix:before,
.clearfix:after,
.ssoContainer:before,
.ssoContainer:after,
.ssoContainer-fluid:before,
.ssoContainer-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.ssoContainer:after,
.ssoContainer-fluid:after,
.row:after {
  clear: both;
}
div:focus,
button:focus {
    outline:0;
}
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .4;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.ssoLoginWidget a {
  color: #0095da;
  text-decoration: none;
}
.ssoLoginWidget a:hover,
.ssoLoginWidget a:focus {
  color: #0072a7;
}
.ssoLoginWidget a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.ssoLoginWidget input[type="radio"],
.ssoLoginWidget input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.ssoLoginWidget input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ssoLoginWidget .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: solid 1px #6d7278;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ssoLoginWidget .form-control:focus {
  outline: 0;
}
.ssoLoginWidget .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.ssoLoginWidget .form-control:-ms-input-placeholder {
  color: #999;
}
.ssoLoginWidget .form-control::-webkit-input-placeholder {
  color: #999;
}
.ssoLoginWidget .form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.ssoLoginWidget .form-control[disabled],
.ssoLoginWidget .form-control[readonly]{
  background-color: #fff;
  opacity: 1;
}
.ssoLoginWidget .form-control[disabled]{
  cursor: not-allowed;
}

.ssoLoginWidget .form-group {
  margin-bottom: 15px;
}
.ssoLoginWidget .radio,
.ssoLoginWidget .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.ssoLoginWidget .btn {
  display: block;
  padding: 6px;
  margin-bottom: 0;
  font-size: 0.857em;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  width: 100%;
  /*max-width: 264px;*/
  margin-bottom: 20px !important;
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
}

.ssoLoginWidget .btn:hover,
.ssoLoginWidget .btn:focus,
.ssoLoginWidget .btn.focus {
  text-decoration: none;
}
.ssoLoginWidget .btn:active,
.ssoLoginWidget .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ssoLoginWidget .btn.disabled,
.ssoLoginWidget .btn[disabled],

.ssoLoginWidget .btn-facebook {
  border-color: #4267b2;
    margin: 0 auto;
    padding: 6px;
}

.ssoLoginWidget .btn-google {
    margin: 0 auto;
    text-align: left !important;
    
}
.ssoLoginWidget .mr10{
    margin-right:10px;
}
.ssoLoginWidget .mr18{
    margin-right:18px;
}
.ssoLoginWidget .unverified.show{
    display: flex;
    align-items: center;
    background-color: #fff2de;
    padding: 10px 10px 16px 10px;
}
.ssoLoginWidget .passwordInfo{
   color: #000000;
   font-size:10px;
   margin-top: -10px;
   margin-bottom:18px;
}
.ssoLoginWidget .passwordInfo.error{
    font-size:10px;
}
.ssoLoginWidget .newUser-error{
    margin-bottom:15px;
}
.ssoLoginWidget .info-icon{
    height: 12px;
    background-image: url("./../img/info.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 15px;   
 }
.ssoLoginWidget .consent{
    margin-top:10px;
    line-height: 1;
}
.ssoLoginWidget .success-subHeading{
    font-size:14px;
    color: #000000;
}
.ssoLoginWidget fieldset {
    padding: 0;
    margin: 0;
    border: 0px solid #c0c0c0;
}
.ssoLoginWidget .skipLink{
    text-align:center;
}
.ssoLoginWidget .notify-icon{
    height: 20px;
    background-image: url("./../img/alert.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 30px;
}
.ssoLoginWidget .eye-icon{
    height: 18px;
    background-image: url("./../img/eye.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 30px;
}
.ssoLoginWidget .green-tick{
    height: 20px;
    background-image: url("./../img/green-tick.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 30px;
}

.ssoLoginWidget .t-uncheck{
    background-image: url("./../img/terms-unchecked.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 30px;
    height:18px;
}

.ssoLoginWidget .t-check{
    background-image: url("./../img/terms-checked.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 30px;
    height:18px;
}
.ssoLoginWidget .nonSignupPwdSection{
        margin-top:10px;
}

.ssoLoginWidget .btn-truecaller{
    background-color: #008fed;
}
.ssoLoginWidget .btn-twitter {
  background-color: #00abf0;
}
.ssoLoginWidget .btn-truecaller:focus,
.ssoLoginWidget .btn-truecaller.focus {
  color: #fff;
  background-color: #21779f;
  border-color: #21779f;
}
.ssoLoginWidget .btn-truecaller:hover {
  color: #fff;
  background-color: #21779f;
  border-color: #21779f;
}


/***** Cutom Css ****/

.ssoLoginWidget .ssoMainWrapper {
    background: #fff;
    margin-bottom: 15px;

}
.ssoLoginWidget .cross-icon{
    height:13px;
    position: absolute;
    left: 96%;
    height: 13px;
    margin-top: 20px;
}
.ssoLoginWidget .posRelative{
    position:relative;
}
.ssoLoginWidget input:focus ~ .floating-label,.ssoLoginWidget input:not(:focus):valid ~ .floating-label,.ssoLoginWidget input[type="text"]:disabled ~.floating-label
{
  top: -6px;
 font-size: 11px;
  opacity: 1;
  background-color: #fff;
}

.ssoLoginWidget .inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}
.ssoLoginWidget .fontBlack{
  color: #000000;
}
.ssoLoginWidget .floating-label {
  padding:0 5px;
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 14px;
  transition: 0.2s ease all;
}


.ssoLoginWidget .logobrand {
    display: block;
    margin-top:42px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center
}
.ssoLoginWidget .textinput {
  margin: 0 0 20px;
  position: relative;
  width: 100%;
}

.ssoLoginWidget input[type="submit"] {
  background: #F37043;
  border: solid #DA1D52;
  border-radius: 0.15em;
  border-width: 0 0 0.15em;
  color: white;
  cursor: pointer;
  font-size: 1.6em;
  padding: 0.2em 0.4em;
  transition: all 0.15s ease;
}

.ssoLoginWidget input[type="submit"]:hover {
  border-width: 0 0 0.1em;
  margin-top: 0.05em;
}

.ssoLoginWidget input[type="submit"]:active {
  border-width: 0 0 0em;
  margin-top: 0.15em;
}
.ssoLoginWidget .g-recaptcha {
    margin-bottom: 30px
}
.m10{
    margin-bottom: 10px
}

.ssoLoginWidget .nomargin {
    margin: 0
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.textinput a {
    font-size: 12px;
    font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
}
.ssoLoginWidget .socialLogin .social-text{
  text-align:left;
    font-size:11px;
    color:#fff;
    margin-left:10px;
    white-space: normal;
    text-transform: initial;
}
.ssoLoginWidget .socialLogin .socialBtn{
    display:flex;
    border-radius: 10px;
    align-items:center;
}
.ssoLoginWidget .socialBtn:last-child{
    margin-right:0;
}
.ssoLoginWidget #google-div {
   background-color: #e75645;

}
.ssoLoginWidget #facebook-div {
    background-color: #234da0;
}
.ssoLoginWidget .social-image{
    width:18px;
}



.ssoLoginWidget .btn-google span {
    line-height: 42px !important
}
.ssoLoginWidget .mediumPanel .btn {
    margin-bottom: 10px !important
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
@media (min-width:320px) and (max-width:1023px){
   body {

       padding: 0;
  }
    
    .ssoLoginWidget .ssoContainer{padding: 0}

}






/*Template css*/

/*.email input{
  
}*/
.ssoLoginWidget .non-social-section input{
    padding:15px 16px;
    width: 100%;
    line-height: normal;
    border: 0;
    font-size: 14px;
    background: 0;
    color: #0e0523;
    border-radius: 5px;
    border: solid 1px #6d7278;

}
.ssoLoginWidget .non-social-section input:focus{
  outline: 0;
}

.ssoLoginWidget .ssoLeftSection .continueBtn{
    cursor:pointer;
    border:none;
    color:#fff;
    font-size:14px;
    background-image:linear-gradient(101deg, #3023ae, #cf10ef 102%);
    margin: auto;
    background-repeat: no-repeat;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin-top:30px;
}

.ssoLoginWidget .btn-disable{
  opacity: .4
}

.ssoLoginWidget .sign-in-Heading,.ssoLoginWidget .forgot-pwd-heading,.verify-heading{
  font-size: 18px;
  margin:50px 0 44px 0;
  text-align: center;
  color: #000000;
}
.ssoLoginWidget .boldFont{
    font-family: "Gotham Bold";
    font-weight: bold;
}
.ssoLoginWidget .medFont {
    font-family: "Gotham Medium";
    font-weight: 500;
}
.ssoLoginWidget .dflex{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.socialLogin.dflex {
    align-items: unset;
}
.ssoLoginWidget .reset-input{
    background: none;
    outline: none;
    border: none;
    width:100%;
    padding-right:10px;
}
.ssoLoginWidget .user-login-Detail{
    font-size:14px;
    color: #0e0523;
    
}
.ssoLoginWidget .user-section{
    margin-bottom:17px;
}
.ssoLoginWidget .custom-input{
    align-items: center;
    padding: 12px 13px;
    border-radius: 5px;
    border: solid 1px #6d7278;
    background-color: #ffffff;
}
.ssoLoginWidget .link{
    cursor:pointer;
     color: #3587e7;
     font-size:11px;
}
.ssoLoginWidget .custom-input .input{
    flex:2;
}
.ssoLoginWidget .changelink{
    cursor:pointer;
    font-size:10px;
}
.ssoLoginWidget .otpText{
    color: #000000;
    font-size:14px;
}
.ssoLoginWidget .signInBtn-wrapper .toggleSignIn{
    cursor:pointer;
    text-align:center;
    font-size:14px;
}
.ssoLoginWidget .sign-in-text{
    color: #000000;
    text-align:center;
    font-size:18px;
    margin:50px 0 26px;
}
.ssoLoginWidget .initSignup{
    text-align:center;
    margin-top:65px;
    font-size:14px;
}
.ssoLoginWidget .ssoLeftSection{
    width:63%;
    padding:0 75px;
}
.ssoLoginWidget .txtcenter{
    text-align:center;
}
.ssoLoginWidget .ssoMainWrapper{
    position:relative;
    width:100%;
    margin:auto;
    display:flex;
    min-height: 540px;
}
.ssoLoginWidget .password-strength {
    list-style: none;
    margin:10px 0;
}
.ssoLoginWidget .password-strength .uncheck{
    background-image: url("./../img/uncheck.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}
.ssoLoginWidget .txt{
    color: #0e0523;
    margin-bottom:22px;
}
.ssoLoginWidget .circle{
    margin-top:17px;
    color: #0e0523;
}
.ssoLoginWidget .ssoSuccessPage .successIcon{
    height: 61px;
    background-image: url("./../img/success.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    margin-bottom: 13px;
    margin-top: 45px;
}
.ssoLoginWidget .ssoSuccessPage{
    text-align: center;
}
.ssoLoginWidget .ssoSuccessPage .success-heading{
    font-size:20px;
    color: #000000;
    margin-bottom:5px;
    margin-bottom: 15px;
}
.ssoLoginWidget .password-strength .checked{
    background-image: url("./../img/checked.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}
.ssoLoginWidget .forgot-password .radio-uncheck{
    background-image: url("./../img/radio-unselect.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}
.ssoLoginWidget .forgot-password .radio-check{
    background-image: url("./../img/radio-select.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}
.ssoLoginWidget .sso-footer-img{
    background-color: #a83bf2;
       /*background-image: url("./../img/group-dsk.png");
        background-size: contain;
        background-repeat: no-repeat;*/
        /* height: 230px; */
        width: 37%;
        /*background-position: center;*/
    }
.ssoLoginWidget .sso-footer-img img{
    width:100%;
}
.ssoLoginWidget .sign-up-wrapper{
    text-align: center;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin:50px 0 26px 0;
}
.ssoLoginWidget .signupError{
    color:#d61616;
}
.ssoLoginWidget .cross-icon{
    cursor:pointer;
}
.ssoLoginWidget .error{
    color: #d61616;
    font-size: 12px;
}

.ssoLoginWidget .confirmPwd{
    margin-top:46px;
}
.ssoLoginWidget .separator{
    margin-top: 20px;
    margin-bottom: 26px;
    text-align: center;
    display:flex;
    align-items: center;
}
.ssoLoginWidget .ovalsep::before, .ssoLoginWidget .ovalsep::after{
        border-bottom: 1px dashed gray;
        content: '';
        flex: 1;
    }
/*.socialLogin{
        flex-wrap:wrap;
    }*/
.ssoLoginWidget .timesLoginLogo{
    width:84px;
    display: block;
    margin:22px auto 16px ;
}
.ssoLoginWidget .channel-image{
    margin-top:10px;
}
.ssoLoginWidget .channel-image img{
    width: 27px;
}
.ssoLoginWidget .social-imageWrapper{
    display: inline-block;
    padding: 5px 10px;
    
}
#facebook-div .border-right{
    border-right: 1px solid #5a78c4;
}
#google-div .border-right{
    border-right: 1px solid #c13828;
}
.ssoLoginWidget .mt25{
    margin-top:25px;
}
.ssoLoginWidget .ssoContainer .error-Border{
  border:1px solid #d61616;
}
.ssoLoginWidget .ssoContainer .errorLabel{
  color: #d61616;
}
.ssoLoginWidget.resetSuccess{
  width:500px;
}
.ssoLoginWidget .ssoLeftSection.resetSuccess{
  width:100%;
}

/*timer start*/
.ssoLoginWidget .timerWrapper {
  position: relative;
  background: white;
}

.ssoLoginWidget .timerWrapper, .timerWrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ssoLoginWidget .timerWrapper {
  width: 18px;
  height: 18px;
}

.ssoLoginWidget .timerWrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: #adadad;
  border: 5px solid #adadad;
}

.ssoLoginWidget .timerWrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  /*animation: rota 5s linear infinite;*/
}

.ssoLoginWidget .timerWrapper:hover .spinner,
.ssoLoginWidget .timerWrapper:hover .filler,
.ssoLoginWidget .timerWrapper:hover .mask {
  animation-play-state: running;
}

.ssoLoginWidget .timerWrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  /*animation: opa 5s steps(1, end) infinite reverse;*/
  border-left: none;
}
.ssoLoginWidget .checkTerms{
  color:#000;
  font-size:11px;
}

.ssoLoginWidget .timerWrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  /*animation: opa 5s steps(1, end) infinite;*/
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
/*timer end*/

@media screen and (max-width: 680px){
    .ssoLoginWidget{
        width:100%;
    }
    .ssoLoginWidget .checkTerms{
      font-size:11px;
    }
    .ssoLoginWidget .sign-up-wrapper{
        font-size: 16px;
        margin:42px 0 31px 0;
    }
    .ssoLoginWidget .error{
        font-size: 12px;
    }
    .ssoLoginWidget .continueBtn{
        width:163px;
    }
    .ssoLoginWidget .ssoLeftSection{
        width:100%;
        padding:0 25px;
    }
    .ssoLoginWidget .ssoMainWrapper{
        width:100%;
        display:block;
    }
    .ssoLoginWidget .sign-in-Heading,.ssoLoginWidget .forgot-pwd-heading,{
         font-size: 14px;
         margin:42px 0 54px 0;
    }
    .ssoLoginWidget .user-login-Detail{
        font-size:12px;   
    }
    .ssoLoginWidget .signInBtn-wrapper .toggleSignIn{
        font-size:12px;
    }
    .ssoLoginWidget .user-section{
        margin-bottom:16px;
    }
    .ssoLoginWidget .sign-in-text{
        color: #000000;
        text-align:center;
        font-size:14px;
        margin:42px 0 16px;
    }
    .ssoLoginWidget .initSignup{
        margin-top:27px;
        font-size:12px;
        color: #000000;
    }
    .ssoLoginWidget .channel-collection{
        width:320px;
    }
    .ssoLoginWidget .sso-footer-img{
      /* background-image: url("./../img/group-mob.png");
        background-size: cover;
        height: 230px;*/
        width: 100%;
    }
    .ssoLoginWidget .non-social-section input{
        font-size:12px;
    }
    .ssoLoginWidget .logobrand {
        margin-top:25px;
    }
    .ssoLoginWidget .cross-icon{
        left:92%;
    }

}








